<div class="container">
    <div class='d-flex justify-content-center'>
        <div class="card mt-3 mb-3" style="width: 30rem;">
            <img src="../../../assets/ahorcadoFoto.png" width=300px height=300px class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-custom">Ahorcado</h5>
              <p class="card-text font-custom d-inline" style='font-size: 28px !important;'>
                Clasico juego del ahorcado, te animas?
              </p>
              <button type="button" class="btn btn-info" [routerLink]='["/saladejuegos/ahorcado"]'>Jugar</button>
            </div>
          </div>
    </div>
    <div class='d-flex justify-content-center'>
        <div class="card mt-3 mb-3" style="width: 30rem;">
            <img src="../../../assets/cartas.jpg" width=300px height=300px class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-custom">Mayor y menor</h5>
              <p class="card-text font-custom d-inline" style='font-size: 28px !important;'>
                Simple juego que consiste en adivinar si la proxima carta es mayor o menor.
              </p>
              <button type="button" class="btn btn-info" [routerLink]='["/saladejuegos/mayor-menor"]'>Jugar</button>
            </div>
          </div>
    </div>
    <div class='d-flex justify-content-center'>
        <div class="card mt-3 mb-3" style="width: 30rem;">
            <img src="../../../assets/ahorcado.jpg" width=300px height=300px class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-custom">Preguntados</h5>
              <p class="card-text font-custom d-inline" style='font-size: 28px !important;'>EN DESARROLLO. </p>
              <button type="button" class="btn btn-info" >Jugar</button>
            </div>
          </div>
    </div>
</div>  
