<div class="wrapper">
    <div class="container">
      <div class="col-left">
        <div class="login-text">
          <div *ngIf='this.log'>
            <h2>Bienvenido</h2>
            <p>Crea tu cuenta</p>
            <a class="btn" (click)='this.log = false'>Registrarse</a>
          </div>
          <div *ngIf='!this.log'>
            <p>Ya tenes una cuenta?<br> Inicia sesion</p>
            <a class="btn" (click)='this.log = true'>Iniciar sesion</a>
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="login-form">
          <h2>Login</h2>
          <form>
            <p>
              <label>Email<span>*</span></label>
              <input type="text" name='email' [(ngModel)]="email" placeholder="Email" value={{this.email}} required>
            </p>
            <p>
              <label>Contraseña<span>*</span></label>
              <input type="password" name='password' [(ngModel)]="password" placeholder="contraseña" value={{this.password}} required>
            </p>
            <p>
              <input type="button" class="btn btn-primary" *ngIf='this.log' value="Iniciar sesión" (click)='this.login()'/>
              <input type="button" class="btn btn-primary" *ngIf='!this.log' value="Registrarse" (click)='this.register()'/>
              <input type="button" class="btn btn-primary" *ngIf='this.log' value="Iniciar sesión rapido" (click)='this.loginRapido()'/>
            </p>
              <div class="text-danger">{{alertError}}</div>
          </form>
        </div>
      </div>
    </div>
</div>