<div>
    <div class="row">
        <div class="col-2">
            <button>Q</button>
        </div>
        <div class="col-2">
            <button>W</button>
        </div>
        <div class="col-2">
            <button>E</button>
        </div>
        <div class="col-2">
            <button>R</button>
        </div>
        <div class="col-2">
            <button>T</button>
        </div>
        <div class="col-2">
            <button>Y</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-2">
            <button>U</button>
        </div>
        <div class="col-2">
            <button>I</button>
        </div>
        <div class="col-2">
            <button>O</button>
        </div>
        <div class="col-2">
            <button>P</button>
        </div>
        <div class="col-2">
            <button>A</button>
        </div>
        <div class="col-2">
            <button>S</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-2">
            <button>D</button>
        </div>
        <div class="col-2">
            <button>F</button>
        </div>
        <div class="col-2">
            <button>G</button>
        </div>
        <div class="col-2">
            <button>H</button>
        </div>
        <div class="col-2">
            <button>J</button>
        </div>
        <div class="col-2">
            <button>K</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button>L</button>
        </div>
        <div class="col-2">
            <button>Z</button>
        </div>
        <div class="col-2">
            <button>X</button>
        </div>
        <div class="col-2">
            <button>C</button>
        </div>
        <div class="col-2">
            <button>V</button>
        </div>
        <div class="col-2">
            <button>B</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <button>N</button>
        </div>
        <div class="col-2">
            <button>M</button>
        </div>
    </div>
</div>