<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card bg-dark">
                <h5 class="card-header text-white">
                    Blackjack
                </h5>
                <div class="card-body">
                    <img src="../../../assets/blackjack.jpg" alt="" style="height: 100%; width: 100%; border-radius: 15px; margin-bottom: 15px;">
                    <p class="card-text text-white text-justify">
                        El blackjack es un juego de cartas, de baraja inglesa de 52 cartas sin los comodines, que consiste en sumar un valor lo más próximo a 21 pero sin pasarse
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>