@font-face{
    font-family: 'Sirin Stencil', cursive;
    src: local('Sirin Stencil'), url(./fonts/SirinStencil-Regular.ttf) format("truetype");
}

.fullscreen-bg {
    position: fixed;
    z-index: -1;
    top:0; right:0; bottom:0; left:0;
    background-size: cover;
    background-image:url(./assets/fondo.png);
}
html, body { height: 100%; }
body { margin: 0; font-family: SirinStencil}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';