<div class='bg-dark color'>
    <button class="debutton" (click)="deal(1)">Apostar $1</button>		<button class="debutton" (click)="deal(5)">Apostar $5</button>		<button class="debutton" (click)="deal(10)">Apostar $10</button>		<button class="debutton" (click)="deal(20)">Apostar $20</button><br>		<div id="playermoney">$100</div>
		Cartas del crupier:<div id="dealercards"></div>
		Puntaje del crupier:<span id="dealerscore"></span><br>
		<br>
		Tus cartas:<div id="playercards"></div>
		Tu puntaje:<span id="playerscore"></span><br>
		<br>
		<button id="htbutton" (click)="hit()">Pedir</button>
		<button id="stbutton" (click)="stand()">Plantarse</button>
		<button id="ddbutton" (click)="doubledown()">Redoblar la apuesta</button>

		<div id="message">Tu apuesta: {{this.bet}}</div>
</div>